#wb_header {
		background: transparent none repeat left top;
		background-size: auto auto;
}
#wb_main {
		background: transparent none repeat-x left top;
		background-size: auto auto;
		padding-bottom: 50px;
}
#wb_footer {
		background: transparent url("gallery/vintage_footer.html") repeat scroll left top;
}
body {
		background: transparent none repeat scroll left top;
		background-size: auto auto;
}
.wb_sbg {
		background: transparent url("../gallery_gen/02035c7210baa23d7cc15608852e017c.jpg") repeat-x center bottom;
}
body, .wb_sbg {
		min-width: 100%;
		min-height: 100%;
}
.root {
		box-sizing: border-box;
		width: 100%;
}
.root > div > .wb_cont_inner_rel {
		padding-left: 15px;
		padding-right: 15px;
}
#wb_cs_row_115 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0px;
		margin-top: 0px;
		float: left;
		padding-bottom: 0px;
}
#wb_cs_col_116 {
		max-width: 1137px;
		margin-top: 0px;
		min-width: 113.7px;
		width: 80.504411500935%;
		margin-left: 0.0%;
}
#wb_cs_col_116:first-child {
		margin-top: 0px;
}
#wb_cs_row_117 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0px;
		margin-top: 0px;
		float: left;
		padding-bottom: 0px;
		width: 94.02665468968%;
}
#wb_cs_col_118 {
		max-width: 1054px;
		margin-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		min-width: 105px;
		width: 80.673176015707%;
}
#wb_cs_col_118:first-child {
		margin-top: 0px;
}
#wb_element_instance59 {
		z-index: 195;
		height: auto;
		min-height: 1px;
		min-width: 105px;
		max-width: 1054px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		float: none;
}
#wb_element_instance59 img {
		width: 100%;
		height: auto;
		position: static;
		left: 0px;
		top: 0px;
		display: block;
}
#wb_cs_row_119 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;
		padding-bottom: 0px;
		width: 88.701021521443%;
}
#wb_cs_col_120 {
		max-width: 980px;
		margin-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		width: 89.756394155055%;
}
#wb_cs_col_120:first-child {
		margin-top: 0px;
}
#wb_element_instance60 {
		z-index: 3601;
		min-height: 24px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		float: none;
}
#wb_element_instance60 p:last-child {
		margin-bottom: 0;
}
#wb_cs_col_121 {
		max-width: 40px;
		margin-top: 1px;
		min-width: 40px;
		width: 33.169533169533%;
		margin-right: 0.0%;
}
#wb_cs_col_121:first-child {
		margin-top: 1px;
}
#wb_element_instance57 {
		z-index: 3870;
		min-height: 40px;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		float: none;
}
#wb_element_instance57 .btn-collapser {
		display: inline-block;
		margin-top: 5.5px;
		background-color: #bdbdbd;
		border-color: #1c0ee8;
}
#wb_element_instance57.collapse-expanded > ul {
		position: fixed;
		left: 0px;
		width: 100%;
		display: block;
		float: none;
		height: auto;
		overflow: hidden;
		overflow-y: auto;
}
#wb_element_instance57 .btn-collapser > .icon-bar {
		background-color: #1c0ee8;
}
#wb_element_instance57 .btn-collapser:hover {
		background-color: #bdbdbd;
		border-color: #ff7a14;
}
#wb_element_instance57 .btn-collapser:hover > .icon-bar {
		background-color: #ff7a14;
}
#wb_element_instance57 ul {
		background: #bdbdbd none repeat left top;
		border: 1px none #000000;
}
#wb_element_instance57 > ul {
		display: none;
}
#wb_element_instance57.collapse-expanded > ul > li {
		display: block;
}
#wb_element_instance57.collapse-expanded li > ul {
		position: static;
}
#wb_element_instance57.collapse-expanded li.active > ul {
		display: block!important;
}
#wb_element_instance57.collapse-expanded li.over > ul {
		display: block!important;
}
#wb_element_instance57, #wb_element_instance57 ul {
		text-align: center;
}
#wb_element_instance57 ul ul {
		background: #ffffff none repeat left top;
}
#wb_element_instance57 li {
		margin: 0px 2px 0px 2px;
}
#wb_element_instance57 li a {
		text-transform: uppercase;
		border: 0px none #000000;
		padding: 0px 2px 0px 2px;
		font: normal bold 14px 'Open Sans',sans-serif;
		text-decoration: none;
		color: #1c0ee8;
		line-height: 16px;
		background: transparent none repeat left top;
}
#wb_element_instance57 li.over > a, #wb_element_instance57 li:focus > a {
		border: 0px none #000000;
		font: normal bold 14px 'Open Sans',sans-serif;
		text-decoration: none;
		color: #ff7a14;
		line-height: 16px;
		background: transparent none no-repeat center bottom;
}
#wb_element_instance57 li.active > a {
		border: 0px none #000000;
		font: normal bold 14px 'Open Sans',sans-serif;
		text-decoration: none;
		color: #ff7a14;
		line-height: 16px;
		background: transparent none no-repeat center bottom;
}
#wb_element_instance57:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance57:not(.collapse-expanded) .hmenu ul.open-left {
		left: auto;
		right: 100%;
}
#wb_element_instance57:not(.collapse-expanded) .hmenu > li > ul.open-left {
		left: auto;
		right: 0;
}
#wb_cs_row_122 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 6px;
		padding-bottom: 0px;
}
#wb_cs_col_123 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		padding-left: 0px;
		padding-right: 0px;
}
#wb_cs_col_123:first-child {
		margin-top: 0;
}
#wb_element_instance62 {
		z-index: 3688;
		min-height: 24px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
}
#wb_element_instance62 p:last-child {
		margin-bottom: 0;
}
#wb_cs_row_124 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 15px;
		padding-bottom: 0px;
}
#wb_cs_col_125 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		padding-left: 0px;
		padding-right: 0px;
}
#wb_cs_col_125:first-child {
		margin-top: 0;
}
#wb_element_instance63 {
		z-index: 6600;
		min-height: 24px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
}
#wb_element_instance63 p:last-child {
		margin-bottom: 0;
}
#wb_cs_row_126 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;
		padding-bottom: 0px;
}
#wb_cs_col_127 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		padding-left: 0px;
		padding-right: 0px;
}
#wb_cs_col_127:first-child {
		margin-top: 0;
}
#wb_element_instance61 {
		z-index: 6599;
		min-height: 1px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
}
#wb_element_instance61 form td {
		text-align: right;
}
#wb_element_instance61 form tr.area-row > th {
		height: 1%;
}
#wb_element_instance61 form tr.area-row > td {
		height: 1%;
}
#wb_element_instance61 form tr.form-footer > td {
		height: auto;
}
#wb_element_instance61 form .form-area-field {
		height: 120px;
}
#wb_cs_row_128 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 15px;
		padding-bottom: 4px;
}
#wb_cs_col_129 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
		padding-left: 0px;
		padding-right: 0px;
}
#wb_cs_col_129:first-child {
		margin-top: 0;
}
#wb_element_instance64 {
		z-index: 309;
		min-height: 24px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
}
#wb_element_instance64 p:last-child {
		margin-bottom: 0;
}
#wb_cs_row_130 {
		padding-left: 0;
		padding-right: 0;
		padding-top: 15px;
		margin-top: 0px;
		float: left;
		padding-bottom: 0px;
}
#wb_cs_col_131 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
}
#wb_cs_col_131:first-child {
		margin-top: 0px;
}
#wb_element_instance58 {
		z-index: 366;
		height: auto;
		min-height: 1px;
		min-width: 56px;
		max-width: 112px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
}
#wb_element_instance58 img {
		width: 100%;
		height: auto;
		position: static;
		left: 0px;
		top: 0px;
		display: block;
}
#wb_element_instance65 {
		z-index: 9000;
}
#wb_element_instance66 {
		z-index: 9999;
}
@media (min-width: 768px) {
		.root > div > .wb_cont_inner_rel {
				padding-left: 20px;
				padding-right: 20px;
	 }
		#wb_cs_row_115 {
				padding-left: 28.74251497006%;
				padding-right: 0.085543199315654%;
	 }
		#wb_cs_row_117 {
				padding-left: 0%;
				padding-right: 7.2999120492524%;
	 }
		#wb_element_instance59 {
				max-width: 100%;
				margin-top: 0px;
	 }
		#wb_cs_col_118 {
				max-width: 100%;
				width: auto;
	 }
		#wb_cs_row_119 {
				padding-top: 10px;
				padding-left: 9.4986807387863%;
				padding-right: 4.3095866314864%;
	 }
		#wb_element_instance60 {
				margin-top: 0px;
	 }
		#wb_cs_col_121 {
				max-width: 572.50614250614px;
				min-width: 57.250614250614px;
	 }
		#wb_cs_col_116 {
				width: 65.874855156431%;
	 }
		#wb_cs_col_120 {
				width: auto;
	 }
		#wb_element_instance57 {
				margin-top: 0px;
	 }
		#wb_element_instance57 ul {
				background: transparent none repeat left top;
	 }
		#wb_element_instance57 .btn-collapser {
				display: none;
	 }
		#wb_element_instance57 > ul {
				display: block;
	 }
		#wb_cs_row_122 {
				padding-top: 6px;
				padding-left: 30.795551753636%;
				padding-right: 31.650983746792%;
	 }
		#wb_cs_col_123 {
				max-width: 940px;
				margin-top: 0px;
	 }
		#wb_cs_col_123:first-child {
				margin-top: 0px;
	 }
		#wb_element_instance62 {
				margin-top: 0px;
	 }
		#wb_cs_row_124 {
				padding-top: 30px;
				padding-left: 42.771599657827%;
				padding-right: 42.771599657827%;
	 }
		#wb_cs_col_125 {
				max-width: 400px;
				margin-top: 0px;
	 }
		#wb_cs_col_125:first-child {
				margin-top: 0px;
	 }
		#wb_element_instance63 {
				margin-top: 0px;
	 }
		#wb_cs_row_126 {
				padding-top: 10px;
				padding-left: 26.518391787853%;
				padding-right: 35.500427715997%;
	 }
		#wb_cs_col_127 {
				max-width: 950px;
				margin-top: 0px;
	 }
		#wb_cs_col_127:first-child {
				margin-top: 0px;
	 }
		#wb_element_instance61 form .form-area-field {
				height: 120px;
	 }
		#wb_element_instance61 {
				margin-top: 0px;
	 }
		#wb_cs_row_128 {
				padding-top: 46px;
				padding-left: 37.21129170231%;
				padding-right: 37.21129170231%;
	 }
		#wb_cs_col_129 {
				max-width: 660px;
				margin-top: 0px;
	 }
		#wb_cs_col_129:first-child {
				margin-top: 0px;
	 }
		#wb_element_instance64 {
				margin-top: 0px;
	 }
		#wb_cs_row_130 {
				padding-top: 50px;
				padding-left: 2.5662959794696%;
				padding-right: 90.504704875962%;
	 }
		#wb_cs_col_131 {
				max-width: 224px;
	 }
		#wb_element_instance58 {
				margin-top: 0px;
	 }
		#wb_main {
				min-height: 100px;
	 }
}
@media (min-width: 992px) {
		.root > div > .wb_cont_inner_rel {
				padding-left: 30px;
				padding-right: 30px;
	 }
		#wb_element_instance57 ul {
				background: transparent none repeat left top;
	 }
		#wb_element_instance57 .btn-collapser {
				display: none;
	 }
		#wb_element_instance57 > ul {
				display: block;
	 }
		#wb_element_instance61 form .form-area-field {
				height: 120px;
	 }
}
@media (min-width: 1200px) {
		.root > div > .wb_cont_inner_rel {
				max-width: 1860px;
				padding-left: 40px;
				padding-right: 40px;
	 }
		#wb_element_instance57 ul {
				background: transparent none repeat left top;
	 }
		#wb_element_instance57 .btn-collapser {
				display: none;
	 }
		#wb_element_instance57 > ul {
				display: block;
	 }
		#wb_element_instance61 form .form-area-field {
				height: 120px;
	 }
		#wb_element_instance65 {
				top: 20px;
				left: 0px;
				display: block;
	 }
		#wb_element_instance66 {
				top: 115px;
				left: 0px;
				display: block;
	 }
}
@media (max-width: 767px) {
		#wb_element_instance60 {
				width: auto;
				margin-left: 10px;
				margin-right: 10px;
	 }
		#wb_element_instance62 {
				width: auto;
				margin-left: 10px;
				margin-right: 10px;
	 }
		#wb_element_instance63 {
				width: auto;
				margin-left: 10px;
				margin-right: 10px;
	 }
		#wb_element_instance64 {
				width: auto;
				margin-left: 10px;
				margin-right: 10px;
	 }
}
