/* Table of Contents
 _____________________________________
 -General Contents
 -Typography
 -Header & Navigation
 -Images & Media
 -Footer
 -Media Queries
 _____________________________________*/

/* General Content
______________________________________*/


h4{
	font-family: 'Roboto', sans-serif;
	color: blue;
	width: 133%
}
.services_l{
	/*list-style-type: none;*/
	text-align: left;
}

.services_r{
	/*list-style-type: none;*/
	text-align: left;
}

.logo {
	width: 100%;
	margin-top: 0;
	margin-left: -0.6%;
}

.main{padding-top: 3%;}

.row{padding: 2% 1%;}

.blue{background-color: #6666;}

.gallery{padding-top: 1%;}

.contact {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
a:link {
	color: red;
	text-decoration: none;

}
a:visited {
	text-decoration: none;
	color: blue;
}
a:hover {
	text-decoration: none;
	color: blue;
}
a:active {
	text-decoration: none;
	color: white;
}
/* Typography
______________________________________*/


h2, p.footer{
	text-align: center;
}
/* Header & Navigation
______________________________________*/

header.main_nav{
	height: 40px;
	padding: 0.1% 0;
	margin-left: 0%;
	margin-bottom: 1%;
	margin-top: 8px;
	display: block;
	text-align: center;
	font-size: 1.45em;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	letter-spacing: 4px;
	text-transform: uppercase;
	word-spacing: 0.8em
	/* background-color: red; */
}

a.nav:hover{
	color: blue;

}

a.nav{
	margin: -0.6%; */
	/* margin-left: 0%; */
	padding-top: 2%;
	padding-bottom: 0.61%;
	padding-left: 0%;
	padding-right: 3%;
	/* background: black; */
	color: black;
	/* position: relative; */
	/* top: -10px; */
}

/* Images & Media
______________________________________*/
.home-img{
	margin-bottom: 20px;
}
.home-img-l{
	margin-right: -4px;
}
.home-img-r{
	margin-left: 3%;
}
img{
	width: 100%;
	border-radius: 20px;
}
img.logo{
	border-radius: 0;
}
img:hover{ opacity:0.8;}

.image-container{
	margin-left: -5%;
}

/* Contact Form
______________________________________*/
#form-container{
	margin-top: 24em;

}


/* Footer
______________________________________*/

ul.social{
	display: block;
	margin: 5% 0;
	list-style-type: none;
	text-align: center;
}
ul.social li{
	font-size: 3em;
	display: inline;
	padding: 0 2%;
}
ul.social li a{
	color: #666;
}
ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,273);}
ul.social li.instagram a:hover{color: rgb(81,127,273);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}
ul.social li.flickr a:hover{color: rgb(255,0,132);}
ul.social li.linkedin a:hover{color: rgb(0,123,182);}

p.copyright{
	text-align: center;
	color: #666;
	font-size: 1em;
}
footer{
	background-color:#E6E6E6;
 	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	margin-left: 6%;
}

#footer-container{
	position: absolute;
	top: 65em;
	margin-left: 4em;
}

#footer-container2{
	margin-top: 22em;
	margin-left: -7em;
}

/* Button
______________________________________*/
#btn-container{
		/*margin-right: 12px;*/
	position: absolute;
	left: 44em;
	margin-top: 2%;

}

.btn-text{
	text-align: center;

}



/* Services Section On Home Page
______________________________________*/
.align-services{
	margin-left: 16px;
}
.services{
	margin-left: -15px;
}
.list-container{
	/*border: blue solid 2px;*/
	width: 32%!important;
}
.lists{
	font-family: 'Roboto', sans-serif;
	font-size: 28px;

}
.leftlist{
	position: relative;
	left: -10.6em;
	top: 2.6em;
}
.rightlist{
	position: relative;
	left: 26.15em;
	top: 2.6em;
}

/*Home page below services section
_____________________________________*/
.main-display{
	position: relative;
	top: -22em;
	margin-left: 8.5em;
	width: 81%;
}

/*About Page Styles
_____________________________________*/
.about-align{
	height: 400px;
}
.about-text{
	font-size: 18px;
	letter-spacing: 1px;
	height: 690px;
}
.about-text-small{
	font-size: 18px;
	letter-spacing: 1px;
	height: 135px;
}
.image-space{
  position: relative;
  padding: 40px;
  margin: auto;
  float: left;
  display: block;
  vertical-align: middle;
}



 /* Media Queries
______________________________________*/

@media (max-width: 479px) {
	.logo a{font-size: 2em;}
	.main{padding-top:15%;}
	.portfolio img{margin-bottom: 10%;}
	img.avatar{margin-top: 15%;}
	h2.bio{font-size: 2.5em;}
	p.bio{font-size:1.25em; color: #3f7f7c;}
	ul.social li a{font-size: .75em;}
}
/*
@media (min-width: 400px){
	.services_l{
		list-style-type: none;
		text-align: center;
		padding-left: 0;
		margin-right: 0;
	}
	.services_r{
		list-style-type: none;
		text-align: center;
		padding-right: 0;
		margin-left: 0;
	}
}
*/
@media (min-width: 550px) {
	.services_l{
		padding-left: 40%;
	}
	.services_r{
		padding-right: 40%;
	}
}

@media (min-width: 750px){
	.services_l{
		/*padding-left: 60%;*/
	}
	.services_r{
		/*padding-right: 60%;*/
	}
}

@media (min-width: 1000px) {
	.services_l{
		/*padding-left: 70%;*/
		margin-right: -7%;
	}
	.services_r{
		/*padding-right: 70%;*/
		margin-left: -7%;
	}
}

/*@media (min-width: 1200px) {
	.services_l{
		padding-left: 80%;
		margin-right: -5%;
	}
	.services_r{
		padding-right: 80%;
		margin-left: -5%;
	}
}*/

box-space{
color:red
}
